.float-right {
    float: right;
}

.bg-grey {
    background-color: lightgray;
}

.ptb-50-px {
    padding-top: 50px;
    padding-bottom: 50px;
}

.w-50 {
    width: 75%;
}

.mt-2 {
    margin-top: 20px;
}