body {
    background-color: rgb(231, 231, 231);
}

.text-blue {
    color: rgb(0, 183, 255);
}

.btn-blue {
    background-color: rgb(0, 183, 255);
}

.m-0-auto {
    margin: 0 auto;
}

.f-28 {
    font-size: 28px;
}

.w-80 {
    width: 90%;
}

.f-left {
    float: left;
}

.mr-2 {
    margin-right: 20px;
}